<div xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SOCIAL NETWORK</h1>
            <h3 class="jumbotron-heading">All posts</h3>
        </div>
    </section>
    <div th:if="${posts.size() > 0}">
        <div th:each="post : ${posts}">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 60rem;">
                    <div class="card-body post">
                        <h5 class="card-title">Posted by: <th:block th:text="${post.user.getFullName()}"></th:block></h5>
                        <h6 class="card-subtitle mb-2 text-muted">28/3/2022 3:21AM</h6>
                        <p class="card-text">
                            <th:block th:text="${post.getDescription()}"></th:block>
                        </p>
                        <p class="card-text">
                            Likes:
                            <th:block th:text="${post.getLikes()}"></th:block>
                        <form th:action="@{'/posts/like/{id}' (id=${post.getId()})}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-info delete-post">
                                <i class="fa fa-trash">Like post</i>
                            </button>
                        </form>
                        <form th:action="@{'/posts/delete/{id}' (id=${post.getId()})}"
                              th:method="DELETE">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-post">
                                <i class="fa fa-trash">Delete</i>
                            </button>
                        </form>
                        </p>
                        <th:block>
                            <form th:action="@{'/posts/add-comment/{id}' (id=${post.getId()})}"
                                  th:method="POST">
                                <input class="form-control" type="text" placeholder="Write a comment..." id="comment"
                                       name="comment">
                                <button type="submit"
                                        class="btn btn-sm btn-info delete-post">
                                    <i class="fa fa-trash">Comment</i>
                                </button>
                            </form>
                        </th:block>
                        <p class="card-text" th:each="comment : ${post.getComments()}">
                            Comment by: <th:block th:text="${comment.user.getFullName()}"></th:block>
                            <th:block th:text="${comment.getComment()}"></th:block>
                        </p>

                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!--    <div class="container mb-4">-->
    <!--        <div class="row">-->
    <!--            <div class="col-12" th:if="${posts.size() > 0}">-->
    <!--                <div class="table-responsive">-->
    <!--                    <table class="table table-striped">-->
    <!--                        <thead>-->
    <!--                        <tr>-->
    <!--                            <th scope="col">Description</th>-->
    <!--                            <th scope="col">Likes:</th>-->
    <!--                        </tr>-->
    <!--                        </thead>-->
    <!--                        <tbody>-->
    <!--                        <tr th:each="post : ${posts}" class="post">-->
    <!--                            <td th:text="${post.getDescription()}"></td>-->
    <!--                            <td th:text="${post.getLikes()}"></td>-->
    <!--                            <td class="text-right">-->
    <!--                                <th:block>-->
<!--                                        <form th:action="@{'/posts/delete/{id}' (id=${post.getId()})}"-->
<!--                                              th:method="DELETE">-->
<!--                                            <button type="submit"-->
<!--                                                    class="btn btn-sm btn-danger delete-post">-->
<!--                                                <i class="fa fa-trash">Delete</i>-->
<!--                                            </button>-->
<!--                                        </form>-->
    <!--                                </th:block>-->
    <!--                                <th:block>-->
    <!--                                    <a th:href="@{'/posts/edit-form/{id}' (id=${post.getId()})}"-->
    <!--                                       class="btn btn-sm btn-info edit-post">-->
    <!--                                        <i class="fa fa-trash">Edit</i>-->
    <!--                                    </a>-->
    <!--                                </th:block>-->
    <!--                                <th:block>-->
    <!--                                    <form th:action="@{'/posts/like/{id}' (id=${post.getId()})}"-->
    <!--                                          th:method="POST">-->
    <!--                                        <button type="submit"-->
    <!--                                                class="btn btn-sm btn-info delete-post">-->
    <!--                                            <i class="fa fa-trash">Like post</i>-->
    <!--                                        </button>-->
    <!--                                    </form>-->
    <!--                                </th:block>-->
    <!--                            </td>-->
    <!--                        </tr>-->
    <!--                        </tbody>-->
    <!--                    </table>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="col mb-3">-->
    <!--                <div class="row">-->
    <!--                    <div class="col-sm-12 col-md-12">-->
    <!--                        <a href="/posts/add-form" class="btn btn-block btn-dark add-post-btn">-->
    <!--                            Add new post-->
    <!--                        </a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
