<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">



    <h5 th:text="${userAccountInfo.getFullName()}"></h5>

    <th:block>
        <form th:action="@{'/follow/{username}' (username=${userAccountInfo.getUsername()})}"
              th:method="POST">
                <div class="col-sm-1">
                    <button type="submit"
                            class="btn btn-sm btn-info">
                        <i class="fa fa-trash">Follow</i>
                    </button>
                </div>
        </form>
    </th:block>



</div>